h1 {
    text-align: center;
    background-color: beige;
}

main {
    background-color: blanchedalmond;
}

.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.animal {
    width: 300px;
    height: 350px;
    border-top: 5px solid palegoldenrod;
}