<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %> 
    <main>
        <div>
            <form action="/user/signup" method="post">
                <fieldset>
                    <legend>Create a New User</legend>
                    <label>USER NAME: <input type="text" name="user" required/></label>
                    <label>PASSWORD: <input type="password" name="password" required/></label>
                    <input type="submit" value="Create New User" />
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>